@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.polls-container {
  margin-top: 3em;
  width: 10em;
}
#pollCard {
  margin-left: 1.6em;
}
#header {
  font-family: "Rock Salt", cursive;
  font-size: 3em;
  padding: 0.3em;
  margin-top: 0.1em;
  margin-bottom: 0.8em;
}
#heading {
  padding-top: 2em;
}
#subheader {
  background-color: #950000;
  height: 3.5em;
}
#login {
  font-size: 1.5em;
  color: white;
  font-family: "Rock Salt", cursive;
  cursor: pointer;
}
#sort-features {
  font-size: 1.2em;
  color: black;
  font-family: "Rock Salt", cursive;
  margin-left: 2em;
}
#category {
  margin-left: 2em;
  color: white;
}
#categoryClient {
  margin-left: 0.5em;
  color: white;
}

#login-txt {
  font-size: 0.4em;
  margin-top: 1.5em;
}
#planningPoker {
  color: white;
  padding-bottom: 3em;
}
#login-container {
  padding-right: 45em;
  margin-top: 5em;
}
#login-form {
  padding-top: 3em;
  width: 35em;
}

#create-poll {
  margin-top: 5em;
}
#message {
  margin-top: 2em;
  width: 35em;
}

#message-link {
  font-family: "Rock Salt", cursive;
  font-size: 1em;
  padding-right: 2.3em;
}
#button,
#form-input {
  font-family: "Rock Salt", cursive;
}
#create-button {
  font-family: "Rock Salt", cursive;
  margin-left: 2em;
  margin-top: 1em;
}
#back-button {
  font-family: "Rock Salt", cursive;
  margin-top: 5em;
}
#vote-select {
  font-family: "Rock Salt", cursive;
  margin-bottom: 1em;
  margin-left: 8em;
}
#vote-button {
  font-family: "Rock Salt", cursive;
  margin-left: 16em;
}
#votingResult-button {
  font-family: "Rock Salt", cursive;
  margin-bottom: 1em;
}

#join-button {
  margin-left: 1em;
  font-family: "Rock Salt", cursive;
}
#description,
#tasks {
  font-weight: bold;
  margin-top: 1em;
}
#points {
  margin-top: 1em;
  font-family: "Rock Salt", cursive;
}
#poll-status {
  margin-top: 1em;
  margin-left: 1em;
  font-family: "Rock Salt", cursive;
  font-size: 2em;
}

#singlePoll-card {
  margin-top: 2em;
}

#image2 {
  margin-right: 10em;
  margin-top: 20em;
}
#ess2 {
  margin-left: 10em;
  margin-top: 6em;
}
#cards3 {
  margin-right: 4em;
  margin-top: 5em;
}
#statistics {
  margin-left: 3em;
}
#form-comment{
  margin-top: 2em;
  width: 50em;
  margin-bottom: 5em;
}
#comments-divider{
  margin-top: 5em;
}
#commentCard{
  width:30em;
 
}
.comments-container{
   margin-bottom: 5em;
}
#authenticate-message{
  width: 35em;
  margin-bottom: 2em;
}
