@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.polls-container {
  background: #c4e5ff;
  background: -webkit-linear-gradient(top, #c4e5ff, #010f51);
  background: -moz-linear-gradient(top, #c4e5ff, #010f51);
  background: linear-gradient(to bottom, #c4e5ff, #010f51);
  margin-top: 3em;
}
#pollCard {
  margin-left: 1.6em;
}
#header {
  font-family: "Rock Salt", cursive;
  font-size: 3em;
  padding: 0.3em;
}
#login {
  font-size: 0.6em;
  margin-left: 18em;
  color: white;
}
#login-txt {
  font-size: 0.4em;
}
#planningPoker {
  color: white;
}
#login-container {
  padding-right: 45em;
  margin-top: 5em;
}
#login-form {
  padding-top: 3em;
  width: 35em;
}

#create-poll {
  margin-top: 5em;
}
#message {
  margin-top: 5em;
  width: 35em;
}
#button {
  font-family: "Rock Salt", cursive;
}
#description,
#tasks
{
  font-weight: bold;
  margin-top: 1em;
}
#points {
  margin-top: 1em;
 font-family: "Rock Salt", cursive; 
}
#link {
  color: black;
  font-family: "Rock Salt", cursive; 
}
#singlePoll-card {
  margin-top: 10em;
}